.login-form input {
    margin-bottom: 10px;
}

h1.heading {
    font-family: 'Exo 2', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

input.btn.btn-custom {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.2em;
}