.signup input {
    margin-bottom: 10px;
}

.signup ul {
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 0px;
    list-style-type: none;
}

th {
    vertical-align: top;
    text-transform: capitalize;
}