{% extends "status/base.html" %}
{% load static %}

{% block title %}Project Genesis/ Contact Us{% endblock title %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'status/contact.css' %}" >
{% endblock imports %}

{% block content %}
    <h1 class="title">Contact Us:</h1>
    <p>If you want your product to appear here, you may use the following methods to try and contact us. The Project Genesis Team will add your item after verifying it.:</p>
    <p>Email: interested@prjgenesis.com</p>
    <p>Telephone: 98410-00000</p>
{% endblock content %}