{% extends "status/base.html" %}
{% load static %}
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Project Genesis/Status{% endblock title %}</title>
{% block imports %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock imports %}
</head>
<body>
{% block content %}
<h1 class="det-title"> {{ post.title }}</h1>
    <div class="det-body">{{post.body | linebreaksbr}}</div>
    <a href="{% url 'status:replyto' post.pk %}" class="btn btn-info" role="button">Reply</a>
    {% if post.reply_set.all.first %}
    <ul>
    {% for reply in post.reply_set.all %}
        <div class="det-reply"><li>{{ reply.user }} - {{ reply.text }}</div>
    {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}
</body>
</html>
