{% extends "status/base.html" %}
{% load static %}
{% load userfil %}

{% block title %}Project Genesis/Status{% endblock title %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'status/details.css' %}">
{% endblock imports %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status:index' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status:user' user.username %}">Your Statuses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status:feed' %}">Status Feed</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:index' %}">Shop</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'user:edit' %}">Profile</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:logout' %}"><span class="oi oi-account-logout" title="icon account-logout" aria-hidden="true"></span>&nbspLogout</a></li>
                {% else %}  
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:signup' %}"><span class="oi oi-person" title="icon person" aria-hidden="true"></span>&nbspSign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:login' %}"><span class="oi oi-account-login" title="icon account-login" aria-hidden="true"></span>&nbspLogin</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    <h1 class="det-title"> {{ post.title }}</h1>
    <div class="det-body">{{post.body | linebreaksbr}}<br /><p align="right">By <a href="{% url 'user:user' post.user.username %}">{{post.user.username}}</a></p></div>
    <a href="{% url 'status:replyto' post.pk %}" class="btn btn-custom" role="button">Reply</a>
    {% if user.is_authenticated %}
        {% if user|get_post_if_liked_by_user:post %}
            <div class="like active">{{ post.likes }}<a href="{% url 'status:unlike' post.pk %}"><span class="oi oi-heart" title="icon heart" aria-hidden="true"></span></a></div>
        {% else %}
            <div class="like">{{ post.likes }}<a href="{% url 'status:like' post.pk %}"><span class="oi oi-heart" title="icon heart" aria-hidden="true"></span></a></div>
        {% endif %}
    {% endif %}
    {% if post.reply_set.all.first %}
    <ul>
    {% for reply in post.reply_set.all %}
        <div class="det-reply"><li><a href="{% url 'user:user' reply.user %}">{{ reply.user }}</a> - {{ reply.text }}</div>
    {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}
