{% extends "status/base.html" %}
{% load static %}

{% block title %}Project Genesis/Status{% endblock title %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'status/user.css' %}">
{% endblock imports %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color:rgb(91, 90, 95);">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status:index' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status:user' user.username %}">Your Statuses</a>
                </li>
            <li class="nav-item active">
                    <a class="nav-link" href="{% url 'status:feed' %}">Status Feed</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:index' %}">Shop</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:edit' %}">Edit Profile</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:logout' %}"><span class="oi oi-account-logout" title="icon account-logout" aria-hidden="true"></span>&nbspLogout</a></li>
                {% else %}  
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:signup' %}"><span class="oi oi-person" title="icon person" aria-hidden="true"></span>&nbspSign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:login' %}"><span class="oi oi-account-login" title="icon account-login" aria-hidden="true"></span>&nbspLogin</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
<h1>Status Feed</h1>
    <p>Here you can view the statuses from the people you follow. To know how to follow people click <a href="#" style="color:purple;">here</a>.</p>
<ul class="background">
    {% for l in list %}
        <li><a href="{% url 'status:details' l.pk %}" class="list">{{ l.user.username }} - {{ l.title }}</a>
    {% endfor %}
</ul>
{% endblock content %}
