{% extends "status/base.html" %}
{% load static %}
<html>
    <head>
        <title>{% block title %}Project Genesis/Status{% endblock title %}</title>
        {% block imports %}
        <link rel="stylesheet" href="{% static 'status/index.css' %}">
        {% endblock imports %}
    </head>
    <body>
        {% block content %}
        {% if user.is_authenticated %}
            <h1 class="title">Hello, {{ user.username }}</h1>
        {% else %}
            <h1 class="title">Hello</h1>
        {% endif %}
        <p>Hello and welcome to our index page of Project Genesis.</p>
        <p>This website allows you to sell merchandise and tell fans about any discounts or extra item you are selling
        This way you can get our message out saying you <b>are</b> selling something and sell it here at the same time.</p>
        {% if user %}
            <a href="{% url 'status:post' %}" class="index"> Post a Status</a> <br>
            <a href="{% url 'user:user' user %}" class="index"> Visit your page</a>
        {% else %}
            <a href="{% url 'user:login' %}" class="index">Login</a>
        {% endif %}
        <br><br><br><br><br>
        <p>If you are interested in selling your products, <a href="{% url 'status:contact' %}">click here</a></p>
        {% endblock content %}
    </body>
</html>