{% extends "status/base.html" %}
{% load static %}
<html>
    <head>
        <title>{% block title %}Project Genesis/Status{% endblock title %}</title>
        {% block imports %}
        <link rel="stylesheet" href="{% static 'status/index.css' %}">
        {% endblock imports %}
    </head>
    <body>
        {% block content %}
        {% if user.is_authenticated %}
            <h1 class="title">Hello, {{ user.username }}</h1>
        {% else %}
            <h1 class="title">Hello</h1>
        {% endif %}
        <p>Hello and welcome to our index page of Project Genesis/Status page</p>
        <p>In this part of the website you will be able to post out statuses that allow fans to see what you're up to<br>
        This also lets them now that you're not fully dead if you don't produce any content &#128523</p>
        {% if user %}
            <a href="{% url 'status:post' %}" class="index"> Post a Status</a> <br>
            <a href="{% url 'user:user' user %}" class="index"> Visit your page</a>
        {% else %}
            <a href="{% url 'user:login' %}" class="index">Login</a>
        {% endif %}
        {% endblock content %}
    </body>
</html>