<html>
<head>
<meta charset='UTF-8' />
<title> Project Genesis/Status </title>
{% load static %}
</head>
<body>
    <h1>A Form To Send Out Statuses</h1>
    <form method="post" action="{% url 'status:verify' %}">
        {% csrf_token %} 
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" max_length="50"/><br>
        <label for="body">Message:</label>
        <input max_length="200" height="4" width = "50" name="body" id="body" /><br>
        <input type='hidden' value="{{ user }}" name="user" id="user" />
        <input type="submit" value="Post!"> 
    </form>
</body>
</html>
        