{% extends "userm/base.html" %}
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Project Genesis/Login{% endblock title%}</title>
        {% block imports %}
            <link rel="stylesheet" href="{% static 'css/login.css' %}">
        {% endblock imports %}
    </head>
    <body>
        {% block content %}
            <h1 style="padding-bottom:10px;" class="heading">Log in</h1>
            <div class="login-form">
                <form action="." method="post">
                    <table border=0>
                        {{ form.as_table }}
                        {% csrf_token %}
                    <tr>
                        <td colspan=2 align="center"><input type="submit" class="btn btn-custom" value="Login"></td>
                    </tr>
                    </table>
                </form>
            </div>
        {% endblock content %}
    </body>
</html>