{% extends "userm/base.html" %}
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Project Genesis/Login{% endblock title %}</title>
        {% block imports %}
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
        {% endblock imports %}
    </head>
    <body>
        {% block content %}
        <h1>Sign Up</h1>
        <p>Use the following form to signup:</p>
        <form action="." method="post" class="signup">
            <table border=0>
                {{ form.as_table }}
                {% csrf_token %}
                <tr>
                    <td colspan=2><input type="submit" class="btn btn-custom" value="Signup" style="padding-left:20px;padding-right:20px;margin-left:100px"></td>
                </tr>
            </table>
        </form>
        {% endblock content %}
    </body>
</html>