.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.25s;
    padding-top: 60px;
}

.title {
    margin-bottom: 20px;
}

.sidebar a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

.sidebar a {
    color: black;
    background-color: white;
    text-decoration: none;
}

div#price {
    margin-top: 0px;
    margin-left: 25px;
    size: 30px;
    padding-top: 0px;
}

div#title {
    display: block;
    width: 60%;
    margin-right: 0px;
    margin-left: 25px;
    float: left;
}

.item {
    float: left;
    padding: 5px 0px;
    border-bottom: 1px white solid;
}

.image {
    width: 30%;
    height: 150%;
    display: block;
    float: left;
}

.product-list {
    float: none;
}

.product-list a {
    color: black;
}

.product-list a:hover {
    color: purple;
}

ul.cat {
    display: inline;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li a.cat {
    padding: 10px 0px;
    display: block;
    color: black;
    background-color: white;
}