.page-header {
    background-color: #603e9a;
    font-family: 'Kaushan Script', cursive;
    margin-top: 0;
    padding: 10px 20px 20px 20px;
    margin-bottom: 0px;
}

.page-header h1 a,
.page-header h1 a:hover {
    color: #1675CF;
    text-decoration: none;
}

.btn.btn-custom {
    color: #fff;
    background-color: #d32525;
    border-color: #9e1212;
    border-radius: 5px;
}

.btn.btn-custom:hover {
    color: #fff;
    background-color: #aa1d1d;
    border-color: #861313;
    border-radius: 5px;
}

body {
    background-color: #228FD2;
    font-family: 'Open Sans', sans-serif;
}

.content {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 40px;
    margin: 0px 0px 0px 0px;
}

.edit form input {
    margin-bottom: 10px;
}