{% extends "shop/base.html" %}
{% load static %}

{% block title %}Project Genesis/Shop/Add{%endblock title %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'shop/add.css' %}" >
{% endblock imports %}

{% block content %}
    <h1 style="padding-bottom:10px;" class="title">Add Your Item</h1>
    <div class="login-form">
        <form action="." method="post" enctype="multipart/form-data">
            <table border=0>
                {{ form.as_table }}
                {% csrf_token %}
            <tr>
                <td colspan=2 align="center"><input type="submit" class="btn btn-custom" value="Add"></td>
            </tr>
            </table>
        </form>
    </div>
{% endblock content %}