{% extends "shop/base.html" %}
{% load static %}
{% load filters %}

{% block title %}
Project Genesis/Details{% if product %}/{{ product.name }}{% endif %}
{% endblock title %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'shop/details.css' %}" >
{% endblock imports %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" onclick="openNav()" style="cursor:pointer;"><span class="oi oi-menu" title="icon menu" aria-hidden="true"></span>Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status:index' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status:user' user.username %}">Your Statuses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status:feed' %}">Status Feed</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:index' %}">Shop</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'user:edit' %}">Profile</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:logout' %}"><span class="oi oi-account-logout" title="icon account-logout" aria-hidden="true"></span>&nbspLogout</a></li>
                {% else %}  
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:signup' %}"><span class="oi oi-person" title="icon person" aria-hidden="true"></span>&nbspSign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:login' %}"><span class="oi oi-account-login" title="icon account-login" aria-hidden="true"></span>&nbspLogin</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock navbar %}

{% block sidebar %}
<div id="mySidenav" class="sidebar">
        <span style="font-size:2em;float:none;">Categories</span>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span class="oi oi-x" title="icon x" aria-hidden="true"></span></a>
        <ul class="cat">
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{%endif%} style="font-size=1.6em;">
                    <a class="cat" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
</div>
{% endblock sidebar %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product|first_image %}{{ product|first_image }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        <div class="details">
            <h1 class="title">{{product.name}}</h1>
            <h3><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h3>
            <p class="price">{{ product.price }}</p>
            <p class="desc">{{ product.description }}</p>
        </div>
        <div class="photos">
            {% for photo in product.photo_set.all %}
                <div class="photo">
                    <a href="{{ photo.photo.url }}"><img src="{{ photo.photo.url }}"></a>
                </div>
            {% endfor %}
        </div><br /><br /> <br /> <br /> <br />
        {% if user == product.seller %}
            <p><form method="post" action="." enctype="multipart/form-data">
                <table border=0>
                    {% csrf_token %}
                    {{form.as_table}}
                    <tr>
                        <td colspan=2><input type="submit" class="btn btn-custom" value="Add"></td>
                    </tr>
                </table>
            </form></p>
        {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-custom" href="{% url 'shop:payment' product.id product.slug%}">Buy</a>
        {% endif %}
    </div>
{% endblock content %}