{% extends "shop/base.html" %}
{% load static %}
{% block title%}Project Genesis/Shop Index{% endblock title%}

{% block imports %}
<link rel="stylesheet" href="{% static 'shop/index.css' %}" >
{% endblock imports %}

{% block navbar %}
            <nav class="navbar navbar-expand-md navbar-dark" style="background-color:rgb(91, 90, 95);">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'status:index' %}">Home<span class="sr-only">(current)</span></a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'status:user' user.username %}">Your Statuses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'status:feed' %}">Status Feed</a>
                        </li>
                        {% endif %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'shop:index' %}">Shop</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'user:edit' %}">Profile</a></li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'user:logout' %}"><span class="oi oi-account-logout" title="icon account-logout" aria-hidden="true"></span>&nbspLogout</a></li>
                        {% else %}  
                                <li class="nav-item"><a class="nav-link" href="{% url 'user:signup' %}"><span class="oi oi-person" title="icon person" aria-hidden="true"></span>&nbspSign Up</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'user:login' %}"><span class="oi oi-account-login" title="icon account-login" aria-hidden="true"></span>&nbspLogin</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endblock navbar %}

{% block sidebar %}
<div id="mySidenav" class="sidebar">
        <span style="font-size:2em;">Categories</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span class="glyphicon glyphicon-remove"></span></a>
        <ul>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{%endif%} style="font-size=1.6em;">
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
</div>
{% endblock sidebar %}

{% block content %}
    <h1 class="title">Welcome to the Project Genesis Shop</h1>
    <p style="font-size:1.2em;padding-bottom:10px;">Here you can find various items being sold by your favourite 
    artists, companies, youtubers etc. This site is was built to 
    promote an easy way of communication as not a lot of people will now 
    a person is selling some item unless they directly follow him on twitter, 
    facebook etc.</p>
    <h1 class="title">Our categories:</h1>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'shop:list' category.slug %}">{{category.name}}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}