{% extends "shop/base.html" %}
{% load static %}
{% load filters %}

{% block title %}Project Genesis/Shop List{% if category %}/ {{category.name}}{% endif %}{% endblock title %}</title>

{% block imports %}
    <link rel="stylesheet" href="{% static 'shop/list.css' %}" >
{% endblock imports %}

{% block sidebar %}
<div id="mySidenav" class="sidebar">
        <span style="font-size:2em;">Categories</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span class="glyphicon glyphicon-remove"></span></a>
        <ul>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{%endif%} style="font-size=1.6em;">
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
</div>
{% endblock sidebar %}

{% block content %}
    <div class="product-list">
        <h1 class="title">{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product|first_image %}{{ product|first_image }}{% else %}{% static 'img/no_image.png' %}{% endif %}" height=500% width=100%><br>
                    <div id="title">{{product.name}}</div>
                </a><br />
                <div id="price">{{ product.price }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}