{% extends "shop/base.html" %}
{% load static %}
{% load filters %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'shop/search.css' %}">
{% endblock imports %}

{% block title %}Search Results{% endblock title %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color:rgb(91, 90, 95);">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status:index' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status:user' user.username %}">Your Statuses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status:feed' %}">Status Feed</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:index' %}">Shop</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'user:edit' %}">Profile</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:logout' %}"><span class="oi oi-account-logout" title="icon account-logout" aria-hidden="true"></span>&nbspLogout</a></li>
                {% else %}  
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:signup' %}"><span class="oi oi-person" title="icon person" aria-hidden="true"></span>&nbspSign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'user:login' %}"><span class="oi oi-account-login" title="icon account-login" aria-hidden="true"></span>&nbspLogin</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    {% if items %}
        <h1 class="title">Search Resuts</h1>
    {% else %}
        <h1 class="title">We couldn't find matching results.</h1>
    {% endif %}
    <div class="results">
        <ul class="background">
            {% if items %}
                {% for item in items %}
                    <div class="user">
                        <li><a href="{% url 'shop:detail' item.id item.slug %}"><img class="image" src="{% if item|first_image %}{{ item|first_image }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{item.name}}"></a>
                        <a href="{% url 'shop:detail' item.id item.slug %}" class="list2">{{item.name}}</a>
                        </li>
                    </div>
                {% endfor %}
            {% else %}
                <p style="font-size:1.3em;padding-bottom:10px;">We couldn't find any matching results, please check the spelling and try again</p>          
            {% endif %}
        </ul>
    </div>
{% endblock content %}